* {
  padding: 0;
  margin: 0;
  font-family: Linux Libertine,Hoefler Text,Georgia,Times New Roman,Times,serif;
  font-size: 0.9rem;
  box-sizing: border-box;
}

a {
  color: var(--wiki-blue);
  text-decoration: none;
}

h1 {
  font-size: 25px;
}

/*Variables*/
:root {
  --wiki-blue: #36c;
  --wiki-articles: #54595d;
  --wiki-font: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif
}

/*Header logo section styles*/

header section .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  width: 100%;
  height: auto;
  padding-top: 30px;
}

header section .logo-container img {
  max-width: 60px;
  max-height: 60px;
}

header section .logo-description-container {
  padding-left: 10px;
}

header section .logo-description-container h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

header section .logo-description-container p {
  padding-top: 0;
  margin-top: 0;
}

/*Header searching section styles*/
header section .search-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

header section .search-container {
  border: 1px solid #A2A9B1;
  border-radius: 2px 0px 0px 2px;
  width: 80%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

header section .search-container:hover {
  border: 1px solid black;
}

header section .input-search {
  outline: none;
  border: none;
  width: 100%;
  height: 40px;
}

header section .select-search {
  outline: none;
  border: none;
  width: 100%;
  height: 36px;
}

header section .buttom-search {
  border: none;
  height: 44px;
  width: 20%;
  background-color: #3366CC;
  color: white;
  border-radius: 0px 2px 2px 0px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

header section .buttom-search .search-icon {
  background-image: url('../img/search-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 19px;
  height: 19px;
}

header section .buttom-search:hover {
  background-color: #447FF5;
}

/*Header Section Articules Styles*/

header section .article-container {
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
}

header section .article-container article {
  width: 30%;
  text-align: center;
  padding-top: 10px;
}

header section .article-container article h2 {
  padding-bottom: 5px;
}

header section .article-container article p,a {
  font-size: 13px;
  font-family: var(--wiki-font);
}

header section .article-container p {
  color: var(--wiki-articles);
}

/*Readion Buttom Section Styles*/
header section .reading-language-container {
  width: 98%;
  padding-top: 30px;
}

header section .buttom-reading-container a {
  background-color: #f8f9fa;
  border: 1px solid #a2a9b1;
  border-radius: 2px;
  padding: 10px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

header section .buttom-reading-container a:active {
  border-color: var(--wiki-blue);
  box-shadow: inset 0 0 0 1px var(--wiki-blue);
}

header section a .translate-icon {
  background-image: url('../img/translate-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 19px;
  padding: 0px 10px 0px 10px;
}

header section a .arrow-icon {
  background-image: url('../img/arrow-down-2.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 11px;
}

header section .reading-language-separator {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
} 


/*MAIN STYLES SECTION*/

main {
  width: 95%;
  margin: 0px auto;
}

main section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

main section p {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
  line-height: 1.5;
  color: var(--wiki-articles);
}

main section aside {
  text-align: center;
  padding-bottom: 30px;
}

main section aside h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

main section aside h2 a {
  padding-left: 10px;
}

main section article {
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-flow: row;
}

main section article p,a {
  font-family: var(--wiki-font);
}

main section article {
  font-family: var(--wiki-font);
  padding-bottom: 30px;
}

main section article img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

main section .app-stores-container {
  padding-top: 20px;
}

main section .app-stores-container img {
  width: 118px;
  height: 38px;
}

footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
}